.link__config {
    text-decoration: none;
    color: gray;
}

.link__config:hover {
    color: #673ab7;
}

#basic-nav-profile-dropdown::after {
    display: none;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    background-color: white;
}

.bg-transparent {
    background-color: transparent;
}