.stories__config {
    margin-top: 40px;
}

#your_stories__tab {
    padding-top: 20px;
}

.navlinks li a.active {
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #673ab7;
    padding-bottom: 10px;
}

.navlinks li a {
    text-decoration: none;
    color: #000;
    padding-bottom: 10px;
}