@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular")
  ,url("./fonts/Poppins-Regular.ttf") format("truetype");
}

div {
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#modify-nav-menu {
  text-decoration: none;
  color: black;
}

#navbar-title {
  font-size: 25px;
}

.nav-item.active {
  border-bottom: 3px solid #002417;
}