@font-face {
  font-family: "Graphik";
  src: local("Graphik-Light")
  ,url("./fonts/Graphik-Font-Family/GraphikRegular.otf") format("truetype");
}

div {
  margin: 0;
  font-family: 'Graphik';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary-color {
  color: #3500D3;
}

.primary-bg-color {
  background-color: #3500D3
}

#modify-nav-menu {
  text-decoration: none;
  color: black;
}

#navbar-title {
  font-size: 25px;
}

.nav-item.active {
  border-bottom: 3px solid #002417;
}

.card-width {
  width: 50%;
}

.card-config {
  padding-top: 5%;
}

.btn-config {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-config:disabled, .btn-config.disabled, fieldset:disabled .btn-config {
  pointer-events: none;
  opacity: 0.40;
}

.btn-primary-col {
  color: #fff;
  background-color: #3500D3;
  border-color: #3500D3;
}

.btn-primary-col:disabled, .btn-primary-col .disabled {
  color: #fff;
  background-color: #3500D3;
  border-color: #3500D3;
}

.sep-login-hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.sep-login-hr:after {
  background: #fff;
  content: attr(data-content);
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.switch {
  appearance: none;
  height: 1em;
  width: 2em;
  background-color: #c2c2c2;
  cursor: pointer;
  border-radius: 1em;
  position: relative;
  transition: background-color 0.3s ease;
}

.switch::before {
  content: "";
  height: 100%;
  width: 50%;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  border: #c2c2c2 solid 0.2em;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.switch:checked {
  background-color: #3500D3;
}

.switch:checked::before {
  border-color: #3500D3;
  transform: translateX(100%);
}

@media screen and (max-width: 500px) {
  .switch {
    outline: none;
  }
}

@media screen and (max-width: 750px) {
  .card-width {
    width: 100%;
  }

  .width-100 {
    width: 100%;
  }
}

.padding-10 {
  padding: 10%
}

.width-100 {
  width: 100%;
}

.padding-top-10 {
  padding-top: 10%
}

.margin-bottom-5 {
  margin-bottom: 5%;
}

.margin-bottom-15 {
  margin-bottom: 15%;
}

.remove-button-css {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  float: right;
}

.back-button__css {
  float: left;
}

.font-size-25 {
  font-size: 25px;
}

.pointer {
  cursor: pointer;
}

.padding-top-3 {
  padding-top: 3%;
}

.recent-articles-header-style {
  border-bottom: 1px solid #3500D3;
  width: 70%;
}

.follow-us-header-style {
  border-bottom: 1px solid #3500D3;
  width: 100%;
}

.recent-articles-content-style {
  padding-top: 3%;
  max-width: 75%;
}

.verticle-line {
  border-left: 1px solid red;
}

.recent-article-footer-config {
  font-size: 13px;
  padding-left: 50%;
  color: rgb(117, 117, 117);
}

.profile-radius-50 {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.author-style {
  margin-left: 2%;
  font-size: 13px;
  font-weight: bolder;
}

.description-style {
  padding-top: 4px;
  font-size: 15px;
  color: rgb(117, 117, 117);
  font-weight: 400;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.block-display {
  display: block;
}

.button-remove-bg {
  background: none;
  border: none;
}

.edit-color {
  color: grey;
  font-size: 16px;
}

.plus-center {
  padding-top: 5%;
  padding-left: 30%;
}

.plus-menu-card {
  width: 23%;
  height: 40px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 40px;
}

.inline-tooltip {
  padding: 5px 5px 5px 5%;
}

.error_message_css_config {
  color: red;
  font-weight: 900;
}

.success_message_css_config {
  color: green;
  font-weight: 900;
}

.font_weight__900 {
  font-weight: 900;
}